body {
  background: transparent;
  text-align: center;
  padding: 0;
  margin: 0 8px 0 8px;
}

img.image_link {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: inline-block;
  overflow: hidden;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-repeat: no-repeat;
}
